.contenitore {
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.carosello {
  width: 70%;
  height: 80%;
  position: relative;
}

.side {
  width: 30%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.freccia-left {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
}
.freccia-right {
  color: white;

  position: absolute;
  top: 50%;
  right: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.item {
  display: none;
}
.active {
  display: block;
}
